.forgotContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.45)),
    url("./maarten-van-den-heuvel-8EzNkvLQosk-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.forgotCard {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;

  animation: slideUp 0.7s ease-out;
}

.forgotCard input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.forgotCard button {
  width: 100%;
  padding: 10px;
  background: #2a2852;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
}

.secondary {
  background: #6b7280;
}

.secondary:hover {
  background: #4b5563;
}

.message {
  margin-top: 10px;
  color: green;
}

/* animation */
@keyframes slideUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}