.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.45)),
    url("./maarten-van-den-heuvel-8EzNkvLQosk-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.titleBlock {
  text-align: center;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.card button {
  width: 100%;
  padding: 10px;
  background: #2a2852;
  color: white;
  border: none;
  border-radius: 6px;
}

.card button:hover {
  background: #4338ca;
}

.error {
  color: red;
}

.forgot {
  margin-top: 10px;
}